@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
html, body{
	width: 100%;
	height:  100%;
}

.all {
	width: 100%;
	height: 100%;
}

.menu {
	width: 320px;
	height: 100%;
	float: left;
	background-color: #1F2026;
	padding: 10px;
	position: relative;
	color: #FFF;
	overflow-y: scroll;
	overflow-x: hidden;
}

.graph {
	width: calc(100% - 320px);
	height: 100%;
	float: right;
	background-color: #001514;
}
.btn{
    padding-left: 22px;
    padding-right: 22px;
}

.btn_new_entry{
    float:right;
}

hr{
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo {
	width: 100%;
	height: 50px;
    font-weight: bold;
    text-align: center;
    font-size :40px;
    margin-bottom: 25px;
    margin-top: 10px;
}

.controls, .entry-points, .stats {
	width: 100%;
	padding-bottom: 5px;
}

.entry {
	font-size: 17px;
	line-height: 17px;
	padding: 10px 15px;
}

.entry-controls {
	font-size:  25px;
}

.stats-header {
	font-weight: bold;
	text-align: center;
}

.stats-title {
	font-size:  25px;
}

.stats-number {
	font-size:  40px;
}
.custom-dropdown--large {
    font-size: 1.5em;
}

.custom-dropdown--small {
    font-size: .7em;
}

.custom-dropdown__select{
    font-size: inherit; /* inherit size from .custom-dropdown */
    padding: .5em; /* add some space*/
    margin: 0; /* remove default margins */
}

.custom-dropdown__select--white {
    background-color: #26a69a;
    color: #fff; 
}

@supports (pointer-events: none) and
      ((-webkit-appearance: none) or
      (-moz-appearance: none) or
      (appearance: none)) {

    .custom-dropdown {
        position: relative;
        display: inline-block;
        vertical-align: middle;
    }

    .custom-dropdown__select {
        padding-right: 2.5em; /* accommodate with the pseudo elements for the dropdown arrow */
        border: 0;
        border-radius: 3px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;    
    }

    .custom-dropdown::before,
    .custom-dropdown::after {
        content: "";
        position: absolute;
        pointer-events: none;
    }

    .custom-dropdown::after { /*  Custom dropdown arrow */
        content: "\25BC";
        height: 1em;
        font-size: .625em;
        line-height: 1;
        right: 1.2em;
        top: 50%; margin-top: -.5em;
    }

    .custom-dropdown::before { /*  Custom dropdown arrow cover */
        width: 2em;
        right: 0; top: 0; bottom: 0;
        border-radius: 0 3px 3px 0;
    }

    .custom-dropdown__select[disabled] {
        color: rgba(0,0,0,.3);
    }

    .custom-dropdown.custom-dropdown--disabled::after {
        color: rgba(0,0,0,.1);
    }

    /* White dropdown style */
    .custom-dropdown--white::before {
        top: .5em; bottom: .5em;
        background-color:  #26a69a;
        border-left: 1px solid rgba(0,0,0,.1);
    }

    .custom-dropdown--white::after {
        color: rgba(0,0,0,.9);
    }

    /* FF only temp fix */
    @-moz-document url-prefix() {
        .custom-dropdown__select              { padding-right: .9em }
        .custom-dropdown--large .custom-dropdown__select { padding-right: 1.3em }
        .custom-dropdown--small .custom-dropdown__select { padding-right: .5em }
    }
}